*~
*_flymake*
/oleg-sivokon-blx.bib
/oleg-sivokon.bbl
/oleg-sivokon.blg
/oleg-sivokon.fdb_latexmk
/oleg-sivokon.fls
/oleg-sivokon.run.xml
/playscript.aux
/playscript.dvi
/playscript.log
/playscript.toc
*.fls
*_latexmk
/embellished-resume.docx
/embellished-resume.odt
/ptyhon-resume.zip
/python-resume.html
/python-resume.txt
